<section>
    <div class="small-container single-product card">
            <div class="row">
                    <div class="col-2">
                        <img src="{{card.image_url}}" width="100%" id="productImg">
                    </div>
                
                    <div class="col-2">
                        <p>Home / Products</p>
                        <h1>{{card.title}}</h1>
                        <h4>Price:${{card.price}}</h4>
                        {{!-- <a href="" class="btn">Add to Cart</a> --}}
                        <h3>Product Condition</h3>
                        <br>
                        <span>{{card.condition}}</span>
                        <h3>Product Details <i class="fa fa-indent" ></i></h3>
                        <br>
                        <p>{{card.description}}</p>
                        <br>
                    </div>
                </div>
            </div>
</section>