<section>
    <div class="container card-info">
        <div class="header">
            <h2>{{card.title}}</h2>

        </div>
        <div class="body">
           
            <span>{{card.price}}</span>
            {{!-- <span>person posted by{{}}</span> --}}
            <span>{{card.condition}}</span>
            <p>{{card.description}}</p>
             <div class="img-container">
                <img src="{{card.image_url}}" alt="">
                {{!-- <img src="{{card.image_url}}" /> --}}
            </div>
        </div>
    </div>
</section>